{% extends "base.html" %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"/>
  <script src="{{ url_for('static', filename='collector.js') }}"></script>

<div class="row">
    <div class="col-md-5">
      <div class="page-header">
        <h1>{{ collector['collector_name'] }}</h1>
        <h4><em>
          {% if active_status == 'active' %}
            Active
          {% else %}
            Inactive
          {% endif %}
        </em></h4>

        <a class="btn btn-default" href="{{ url_for('update_collector', collector_id=collector['_id']) }}">Edit Collector</a>
      </div><!-- /.page-header -->

      <!-- Network -->
      <div class="row">
        <div class="col-sm-4"><strong>Network</strong></div>
        <div class="col-sm-8">{{ collector['network'] }}</div>
      </div>

      <!-- Collection Type -->
      <div class="row">
        <div class="col-sm-4"><strong>Collection Type</strong></div>
        <div class="col-sm-8">{{ collector['collection_type'] }}</div>
      </div>

      <br />
	

 <div class="row">
        <div class="col-sm-4"><strong>Collector Terms</strong></div>
        <div class="col-sm-8" id="termvalues"></div>
      </div>


	<br/>
      <!-- Start & End Date -->
      <div class="row">
        <div class="col-sm-4"><strong>Start Date</strong></div>
        <div class="col-sm-8">
          {% if collector['start_date'] %}
            {{ collector['start_date'] }}
          {% else %}
            None
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4"><strong>End Date</strong></div>
        <div class="col-sm-8">
          {% if collector['end_date'] %}
            {{ collector['end_date'] }}
          {% else %}
            None
          {% endif %}
        </div>
      </div>

      <!-- Twitter specific features -->
      {% if collector['network'] == 'twitter' %}
        <br />

        <!-- API Filter -->
        <div class="row">
          <div class="col-sm-4"><strong>API Filter</strong></div>
          <div class="col-sm-8">
            {% if collector['api'] %}
              {{ collector['api'] }}
            {% else %}
              None
            {% endif %}
          </div>
        </div>

        <!-- Languages -->
        <div class="row">
          <div class="col-sm-4"><strong>Languages</strong></div>
          <div class="col-sm-8">
            {% if collector['languages'] %}
              {% for lang in collector['languages'] %}
                {{ lang }},
              {% endfor %}
            {% else %}
              None
            {% endif %}
          </div>
        </div>

        <!-- Locations -->
        <div class="row">
          <div class="col-sm-4"><strong>Locations</strong></div>
          <div class="col-sm-8">
            {% if collector['locations'] %}
              {{ collector['locations'] }}
            {% else %}
              None
            {% endif %}
          </div>
        </div>
      {% endif %}

      <hr />

      {% if task_status %}
        <div class="alert alert-warning alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{  task_status  }}
        </div>
      {% endif %}

      <form method="POST" action="/collector_control/{{collector['_id']}}" class="form">
        {{ form.csrf_token }}
        <input type="submit" name="control" value="Start" class="btn btn-default">
        <input type="submit" name="control" value="Stop" class="btn btn-default">
        <input type="submit" name="control" value="Restart" class="btn btn-default">
      </form>
    </div>
<br>
 <img src="/static/images.png" style="height:auto;width:30px"></img>
<input type="text" id="searchterm" onkeyup="search()" placeholder="Search for Terms.."  class="col-sm-2">

    
<!-- Terms Table -->
    <div class="col-md-7">
      <h3>Collector Terms</h3>

      {% if collector['terms_list'] %}

        <table id="showtable" class="table">
          <thead>
            <tr>
              <th>Term</th>
              <th>Type</th>
              <th>Collecting</th>
              <th>Start / Stop Dates</th>
              <th>Term ID</th>
            </tr>
          </thead>

          {% for term in collector['terms_list'] %}
            <tr >
              <td  class="termname" id={{term['term']}}$${{term['id']}} onclick="ShowContent(this.id)">{{ term['term'] }}</td>
              <td >{{ term['term'] }}</td>
              <td>
                {% if term['collect'] == 1 %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
              <td>
                {% for range in term['history'] %}
                  {{ range['start_date'] }} -- {{ range['end_date'] }}<br />
                {% endfor %}
              </td>
              <td>
                {% if term['id'] %}
                  {{ term['id'] }}
                {% else %}
                  None
                {% endif %}
              </td>

            </tr>
          {% endfor %}
<tr >
<span id="notermmsg" style="display:none">
No Terms Found</span>
</tr>
</table>

      {% else %}
        No Terms
      {% endif %}
    </div>
  </div>





<div id="myModal" class="modal">
<div class="loader" id="loader" style="top:8%;left:43%;position:absolute;display:block"></div>
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header" id="modalheader">
      <span id="closemodel" onclick="closemodel()" class="close">&times;</span>
      <h2 id="header"></h2>

<ul class="nav nav-tabs" id="tabs">
    <li id="tweetsto" class="active col-6"><a style="cursor:pointer;color:black" onclick="switchTab(1)"><span id="repliesto">REPLIES TO </span></a></li>
 <li  id="tweetsby" class="col-6"><a style="cursor:pointer;color:black" onclick="switchTab(2)"><span id="spantweetby">TWEETS BY </span></a></li>
  <li  id="termstats" class="col-6"><a style="cursor:pointer;color:black" onclick="switchTab(3)"><span>SUMMARY STATS</span></a></li>
        	

</ul>


    </div>
<span style="display:none;left:50%;top:-4%;position:relative" id="pagenum"></span>
    <div class="modal-body" id="putdata">
      <p></p>
      <p></p>
    </div>
   
<div class="modal-body" id="usertweets" style="display:none">
      <p></p>
      <p></p>
    </div>

<button id="tweetsdisplay" class="databutton" value="" text="1"  onclick="showtweets()"><span>View Content</span></button>

  </div>

</div>


<script>
var tabstatus = 3;
var totalcols = document.getElementById('showtable').getElementsByTagName("td").length;
var entries = 0;
var rows = document.getElementById('showtable').rows[0].cells.length;
if (rows != 0)
    entries = totalcols / rows;

document.getElementById("termvalues").innerHTML = entries;
document.getElementById("notermmsg").style.display = "none";
var terms = document.getElementsByClassName('termname');
document.getElementById("searchterm").value = "";
var searchterm = "";
var i = 0,
    flag = 1;

/*method in views.py*/
function ShowContent(termidvalue)

{
    try {
		$("#tweetsby").removeClass("active");
		$("#tweetsto").removeClass("active");
		$("#termstats").addClass("active");
		termid=termidvalue.split("$$")[1]
		document.getElementById("repliesto").innerHTML = "REPLIES TO "+(termidvalue.split("$$")[0]);
		document.getElementById("spantweetby").innerHTML = "TWEETS BY "+(termidvalue.split("$$")[0]);
        modal.style.display = "block";
        document.getElementById("tabs").style.display = "block";
        document.getElementById("tweetsdisplay").style.display = "none";
        document.getElementById("pagenum").style.display = "none";
        document.getElementById("tweetsdisplay").value = termidvalue
		document.getElementById("header").innerHTML="";
		document.getElementById("modalheader").style.backgroundColor = "";
        showLoader();
        document.getElementById("putdata").innerHTML = "";
        /*checks to see if termid is blank,in that case please check config db*/

        if (termid == "None") {
            dataretriveFailed("No Data for  "+termidvalue.split("$$")[0])
            document.getElementById("tweetsdisplay").style.display = "none";
            hideLoader()
        } else {

            $.ajax({
                type: "GET",
                url: "/display_termsvalue/{{projectid}}/{{project_name}}/{{network}}/{{collector['collector_name']}}/{{collector['_id']}}/0/0/0/" + termid,

                success: function(result) {

                    hideLoader();
                    res = JSON.parse(result);
                    if (res.message == "Failed"){
                        dataretriveFailed(res.reason+" "+termidvalue.split("$$")[0])
						 document.getElementById("tweetsdisplay").style.display = "none";
						}
                    else
                        displayTermValues(res);

                }
            });
        }

    } catch (e) {
        console.log(e);
    }

}



function showtweets(tabnumber = tabstatus)

{
    try {
        document.getElementById("tabs").style.display = "block";
        termidvalue = document.getElementById("tweetsdisplay").value;
		termid=termidvalue.split("$$")[1]
        showLoader();
        document.getElementById("putdata").innerHTML = "";
        createdts = localStorage.getItem("createdts");
        alert(createdts);
        $.ajax({
            type: "GET",
            url: "/display_termsvalue/{{projectid}}/{{project_name}}/{{network}}/{{collector['collector_name']}}/{{collector['_id']}}/1/" + createdts + "/" + tabnumber + "/" + termid,

            success: function(result) {
                document.getElementById("pagenum").style.display = "block";
                hideLoader();
                modal.style.display = "block";
                res = JSON.parse(result);

                if (res.message == "Failed")
                    dataretriveFailed(res.reason+" "+termidvalue.split("$$")[0])
                else displayTweets(res, tabnumber);
            }
        });
    } catch (e) {
        console.log(e);
    }
}

</script>

{% endblock %}


